.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  z-index: 1;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    font-size: 30px;
    font-weight: 600;

    @media screen and (min-width: 1400px) {
      font-size: 40px;
      font-weight: 600;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;
    margin: 0 1rem;
    padding: 7px 12px;
    cursor: pointer;

    div {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin: auto;
      background: transparent;
      margin-bottom: 5px;

      transition: 0.5s ease;
    }

    a {
      flex-direction: column;

      text-decoration: none;
      text-transform: uppercase;
      color: var(--gray-color);

      transition: all 0.3s ease-out;

      &:hover {
        color: var(--secondary-color);
      }
    }
    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  background: var(--secondary-color);
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
    cursor: pointer;
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    width: 80%;
    height: 100vh;

    background: url("../../assets/image/bgWhite.png");
    background-color: (var(--white-color));
    background-size: cover;
    background-repeat: repeat;
    box-shadow: 0 0 10 rgba(168, 168, 168, 0.1);

    background-color: var(--white-color);
    svg {
      height: 35px;
      width: 35px;
      color: (var(--secondary-color));
      margin: 0.5rem 1rem;
      background: var(--secondary-color);
      border-radius: 50%;
      padding: 3px;
      color: var(--white-color);

      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        list-style: none;
        margin: 0.7rem 0;
        padding: 10px 10px;
        a {
          text-decoration: none;
          color: var(--gray-color);
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;

          transition: all 0.3s ease-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}
